body {
    box-sizing: border-box;
    background-color: rgb(226, 205, 177);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#container {
    display:flex;
    margin-top: 10%;
    margin-left: 30%;
    width: 700px;
    height: 700px;
}

#itemAndDescription {
    display: flex;
    flex-direction: row;
    flex: 1;
    border-radius: 1em;
    width: 600px;
    height: 600px;
    background-color: white;
}

#imgNecklace {
    width: 250px;
    height: 600px;
}

#descriptionOnly {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 600px;
    justify-content: space-evenly;
}

#itemType {
    color:rgb(132, 136, 139);
    opacity: 10%;
    font-size: medium;
}

#itemName {
    font-size: large;
}

#cart {
    max-width: 20px;
    max-height: 20px;
    display: inline-flex;
    margin: -1;
}

button {
    background-color: rgb(35, 150, 35);
    border-radius: 1em;
    width: 200px;
    height: 45px;
    font-size: medium;
    color: white;
}